* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #01022d, #000000);
    height: 100vh;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.contaner {
    width:960px;
    height:690px;
    background-position: center;
    background-image: linear-gradient(to right, #01022da9 30%, #00000086),
        url(photos/WhatsApp\ Image\ 2026-04-13\ at\ 8.45.04\ PM.jpeg);

}

img {
    max-width:100%;
    height:auto;
}

.contaner:hover {
    background-image: linear-gradient(to right, #01022da9 30%, transparent),
        url(photos/WhatsApp\ Image\ 2026-04-13\ at\ 8.45.04\ PM.jpeg);

}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
}

ul {
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-around;

}

li a:hover {
    color: #01022d;
    border-bottom: #01022d 2px solid;
}

.contant {
    color: white;
    width: 50%;
    margin-top: 20px;
    padding: 30px;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
}

p {
    font-size: medium;
    width: 50%;
    margin-top: 3px;
}
